language: node_js
node_js:
  - '12'

branches:
  only:
    - master

cache:
  directories:
    - node_modules

notifications:
  email: false

env:
  VERSION: '$TRAVIS_BUILD_NUMBER'

before_install:
  - yarn

before_script:
  - yarn server &

script:
  - yarn lint
  - yarn test:unit
  - yarn test:integration

after_success:
  - yarn run semantic-release
  - npm config set '//npm.pkg.github.com/:_authToken' ${GH_TOKEN}
  - npm config set registry https://npm.pkg.github.com/@typeform
  - test $TRAVIS_EVENT_TYPE = "push" && test $TRAVIS_BRANCH = "master" && echo "It did not work!"
